{
  "datacenter": "patroni",
  "node_name": "dbproxy",
  "addresses" : {
    "http": "10.10.10.13"
  },
  "bind_addr": "10.10.10.13",
  "node_name": "10.10.10.13",
  "rejoin_after_leave": true,
  "domain": "consul",
  "retry_join": [ "10.10.10.13"],
  "bootstrap_expect": 1,
  "server": true,
  "verify_incoming": false,
  "verify_outgoing": false,
  "data_dir": "/opt/consul",
  "disable_remote_exec": false,
  "ui": true
}
